/* Train Classes Specific Styles */
.class-features {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.class-features li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.class-features li::before {
    content: "✔️";
    margin-right: 10px;
}

.comparison-table {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #adabab;
}

th {
    background-color: #0dc903;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cta-button {
    margin-top: 20px;
    background-color: #14da0a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0dc103;
}