.bookingWrapper{
  background-color: white;
  position: sticky;
  width: 100%;
  margin-left: 20px;
  margin-top: -8vh;
  box-shadow: 2px 2px 5px;
  border-radius: 10px;
}
/* Booking Part Links */
.linksWrapper{
    display: flex;
 }
.bookingPrtLinks{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 15px 1px;
    border: 1px solid silver;
}
.bookingPrtLinks:hover{
    cursor: pointer;
    color: #000;
    border-bottom: 2px solid #fc0505;
}
/* ----------------------------------------- */
/* Inputs part */
.inputsWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 8px;
}
.inputsWrapper div{
    display: flex;
}
input {
    padding: 8px;
    border-radius: 8px;
}
.input:hover{
    box-shadow: 3px 3px 6px grey; 
}
.arrow{
    justify-content: center;
    text-align: center;
    max-width: 30px;
    padding: 16px 0;
}
/* ---------------------- */
/* To make it responsive */
@media (min-width: 760px) {
    .bookingWrapper{
        width: 80%;
        margin: auto;
        margin-top: -11vh;
    }
}
@media (min-width: 1024px) {
    .bookingWrapper{
        width: 80%;
        margin: auto;
        margin-top: -11vh;
    }
}
@media (min-width: 1100px) {
    .bookingWrapper{
        width: 80%;
        margin: auto;
        margin-top: -25vh;
    }
}
