/* Font size for all on home page */
*{
    font-size: 12px;
}
.homeBg{
    background-color: #f7fdfe;
}
/* For larger fonts */
.largeFont{
    font-size: 38px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
}
.largeFontm{
    font-size: 25px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
}
/* ------------------------------------- */
/* 1. Feature destination */
.homeShadow{
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px #afaeae;
}
.homeShadow:hover{
    box-shadow: 1px 10px 10px #bfbfbf;
    cursor: pointer;
    transform: scale(1.03);
}
/* -------------------------------------------- */
/* 2. Discount Area */
.special{
    background-image: url('../../Images/students1.jpg');
    height: 390px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.special div{
    padding: 10% 2px;
}
.special button{
    width: 180px;
}
/* ------------------------------------------------- */
/* 3. Class option area */
.classLeft img{
    height: 510px;
    box-shadow: 1px 1px 5px grey;
    margin-left: 40px;
}
.classRight img{
    height: 252px;
    width: auto;
}
@media (max-width: 720px) {
    .classLeft img {
        height: 390px;
    }
    .largeFont{
        font-size: 30px;
    }
}
@media (min-width:672px) {
    .classRight .o{
        width: 200px;
    }
}
@media (min-width:1080px) {
    .classRight .o{
        width: 250px;
    }
}
/* --------------------------------------------- */
/* 4. About section */
.homeAbout{
    padding: 20px 200px;
    justify-content: center;
}
.team-member:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* Adjusting For another screen size for that did not show as we want */
@media (max-width:920px) {
    img {
        width: 310px;
    } 
    .homeAbout img{
        width: 100px;
    }
}