*{
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}
 nav section{
    position: fixed ;
    z-index: 1000;
    top: 0;
 }
 nav .headerWrapper {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 5px 10px;
 }
 .listAndSignin{
   text-align: end;
   justify-content: end;
    display: flex;
    padding-top: 5px;
 }
 .linkHover{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }
.linkHover:hover{
    color: #22e308;
}
nav .headerWrapper img{
    width: 45px;
}
.listShow{
    background-color: #232F3E;
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    cursor: pointer;
    padding: 10px 40px;
    opacity: 0.95;
}
.close{
   text-align: end;
}
@media (max-width: 720px) {
   .listAndSignin button {
      width: 135px;
   }
}


